@import 'generated/css/colors';

* {
    all: unset;

    font-family: "Exo 2", sans-serif;
    color: $text;
}

@import 'css/mainbar';
@import 'css/calendar';
@import 'css/appbar';
@import 'css/keybinds';

