.audio {
    background-color: rgba($mantle, 0.75);

    border-radius: 6px;
    border: $overlay0 solid 1px;
    padding: 6px;

    margin: 0;
}

.volumebar {
    margin: 4px 12px;

    .icon {
        font-size: 20px;
        margin-top: 6px;
    }

    .volume {
        trough {
            background-color: $crust;
            min-width: 8px;
            min-height: 80px;
            border-radius: 4px;
        }
        trough highlight {
            background-color: $blue;
            border-radius: 4px;
        }
    }
}

