.workspaces {
    margin-left: 10px;
}

.mainbar-root {
    background-color: $base;
    margin: 0 6px;
    border-radius: 5px;
}

.ws-button {
    background-color: $base;
    border: $surface2 solid 1.5px;
    border-radius: 50%;

    margin: 12px 0px 11px 0px;
}

.ws-button > box {
    background-color: $base;
    border-radius: 50%;
    margin: 2px;
}

.ws-button > .fill {
    background-color: $surface2;
}

.ws-button.active {
    border-color: $overlay2;
}

.ws-button.active > .fill {
    background-color: $overlay2;
}

.clock {
    margin-right: 8px;
    color: $overlay1;
}

.clock .time {
    font-size: 17px;
}

.mainmenu {
    font-family: "FiraCode Nerd Font";
    font-size: 22px;
    margin: 0 6px;
    color: $lavender;
}

.container {
    margin-right: 10px;
    padding: 4px;
    background-color: $mantle;
    border-radius: 8px;
    border-width: 0px 1px;
    border-style: solid;
    border-color: $surface0;
}

.audio {
    font-size: 16px;
}

.audio .mute {
    color: $red;
}

.audio .icon {
    padding: 0px 4px;
}

.volumebar {
    margin: 1px 6px;

    .icon {
        font-size: 20px;
        margin-top: 6px;
    }

    .volume {
        trough {
            background-color: $crust;
            min-width: 80px;
            min-height: 8px;
            border-radius: 4px;
        }
        trough highlight {
            background-color: $blue;
            border-radius: 4px;
        }
    }
}

.playerstatus {
    background-color: $mantle;
    border-radius: 100px;
    padding-right: 10px;
}

.playerstatus .separator {
    background-color: $text;
    border-radius: 100%;
    margin: 15px 5px 13px 5px;
    min-width: 4px;
}

.playerstatus .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    min-width: 32px;

    border-radius: 50%;
    margin-right: 6px;
}

