$elementBorderRadius: 12px;
// 38px - 3px * 2 = 32px = height of elements in mainbar
$elementHeight: 32px;

.mainbar-root {
    background-color: rgba($mantle, 0.75);
    padding: 3px 6px;
}

.container {
    padding: 0 6px;
    border-radius: $elementBorderRadius;
    background-color: $base;
    margin-right: 4px;
}

.container:last-child {
    margin-right: 0px;
}

.workspaces {
    margin: 0 4px 0 10px;
}

.ws-button {
    border: $surface2 solid 1.5px;
    border-radius: 50%;

    margin: 12px 0px 11px 0px;
}

.ws-button > box {
    border-radius: 50%;
    margin: 2px;
}

.ws-button > .fill {
    background-color: $surface2;
}

.ws-button.active {
    border-color: $overlay2;
}

.ws-button.active > .fill {
    background-color: $overlay2;
}

.clock {
    color: $overlay1;
    padding: 0 8px;
}

.clock .time {
    font-size: 16px;
}

.mainmenu {
    font-family: "FiraCode Nerd Font";
    font-size: 22px;
    margin-right: 6px;
    color: $lavender;
}

.audio {
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.audio .mute {
    color: $red;
}

.audio .icon {
    padding: 0px 4px;
}

.volumebar {
    margin: 1px 6px;

    .icon {
        font-size: 20px;
        margin-top: 6px;
    }

    .volume {
        trough {
            background-color: $crust;
            min-width: 80px;
            min-height: 8px;
            border-radius: 4px;
        }
        trough highlight {
            background-color: $blue;
            border-radius: 4px;
        }
    }
}

.playerstatus {
    padding: 0 8px 0 0;
}

.playerstatus .separator {
    background-color: $text;
    border-radius: 50%;
    margin: 15px 5px 13px 5px;
    min-width: 4px;
}

.playerstatus .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    min-width: $elementHeight;

    border-radius: $elementBorderRadius;
    margin-right: 6px;
}

